<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order-Form</title>

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
        <div class="box_con">
            
            <table class="formTable">

              <tr>
                <th>UserID</th>
                <td><input type="text" name="userid" id="UserID" ></td>
              </tr>

              <tr>
                <th>TruckTypeID</th>
                <td><input type="text" name="trucktypeid" id="TruckTypeID" ></td>
              </tr>

              <tr>
                <th>TruckSizeID</th>
                <td><input type="text" name="trucksizeid" id="TruckSizeID" ></td>
              </tr>

              <tr>
                <th>集荷日時__</th>
                <td><input type="datetime-local" name="PickupDatetime" id="PickupDatetime"/></td>
              </tr>

              <tr>
                <th>着荷日時__</th>
                <td><input type="datetime-local" name="ArrivalDatetime" id="ArrivalDatetime"/></td>
              </tr>

              <tr>
                <!-- <th>集荷場所__</th>
                <td>
                  <label>
                    <span>郵便番号</span>
                    <input type="text" name="postal_code" minlength="7" maxlength="8" pattern="\d*" autocomplete="shipping postal-code">
                  </label> -->
                  <br>

                  <!-- <label>
                    <span>都道府県</span>
                    <select name="prefecture" autocomplete="shipping address-level1">
                      <option value="東京都">東京都</option>
                      <option value="千葉県">千葉県</option>
                      <option value="神奈川県">神奈川県</option>
                      <option value="埼玉県">埼玉県</option>
                    </select>
                  </label> -->
                  <br>

                  <!-- <label>
                    <span>詳細住所__</span>
                    <input type="text" name="address" autocomplete="shipping address-level2">
                  </label> -->
                  <br>

                  <!-- <label>
                    <span>倉庫名__</span>
                    <input type="text" name="warehouse" autocomplete="shipping address-line2">
                  </label> -->
                  <br>

                  <!-- <label>
                    <span>バースNo.__</span>
                    <input type="text" name="berth" autocomplete="shipping address-line2">
                  </label> -->
                  <br>

                </td>
              </tr>

              <div>
                <select name="Size">
                    {{range .Size}}
                        <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
              </div>  


              <tr>
                <th>車格__</th>
                <td><select name="TruckSize" id="TruckSize">
                    <option value="" name="none">選択してください</option>
                    <option value="{{ .TruckSizeSmall }}">{{ .TruckSizeSmall }}</option>
                    <option value="{{ .TruckSizeTowTon }}">{{ .TruckSizeTowTon }}</option>
                    <option value="{{ .TruckSizeFourTon }}">{{ .TruckSizeFourTon }}</option>
                    <option value="{{ .TruckSizeTenTon }}">{{ .TruckSizeTenTon }}</option>
                  </select></td>
              </tr>

              <!-- <tr>
                <th>希望料金__</th>
                <td><input size="20" type="text" name="Price" /></td>
              </tr>  -->

              <tr>
                <th>発注日__</th>
                <td><input type="date" name="OrderDatetime" min="2022-12-01" max="2026-02-09" id="OrderDatetime"/></td>
              </tr>

            </table>
            
              <div clacc="box_check"></div>
                <label>
                    <input type="checkbox" name="acceptance-714" value="1" aria-invalid="false" class="agree"><span class="check">プライバシーポリシーに同意する</span>
                </label>
            </div> 
            <p class="btn">
                <span><input type="submit" value="確認" id="runSet"/></span>
            </p>

      </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
  <script type="text/javascript">
      $("#runSet").on("click",function(){
        console.log("OK");

        let data = {
          "UserID": Number(document.getElementById('UserID').value),
          "TruckTypeID": Number(document.getElementById('TruckTypeID').value),
          // "TruckSizeID": Number(document.getElementById('TruckSizeID').value),
          "PickupDatetime":new Date(document.getElementById('PickupDatetime').value),
          "ArrivalDatetime":new Date(document.getElementById('ArrivalDatetime').value),
          "OrderDatetime":document.getElementById('OrderDatetime').value,

          "TruckSize":document.getElementById('TruckSize').value,
          }
          
        console.log(data);  


      $.ajax({
            type: 'POST',
            url: 'https://ourcargo-platform.com/orderpage',
            contentType: 'application/json',
            data: JSON.stringify(data),  // access in body
            success: alert("success"),
                // window.location.href = 'http://localhost:8080/showpage'; // 通常の遷移
                // window.open('http://localhost:8080/showpage', '_blank');
            // error: function (request, status, error) {
            //   console.log(request);
            //     alert(error);
            // }
        });
      })
    // };


</script>

</body>
</html>